<nav>
  <div class="nav-wrapper">

    <a  class="brand-logo center">Quiz</a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a >Username</a></li>
      <li><a routerLink="../">Sign Out</a></li>
    </ul>
  </div>
</nav>
<br>

<div class="jasmine-menu" style="background-color: whitesmoke">
  <h3>Select category</h3>
  <br>
  <button  class="btn waves-effect waves-light" type="submit" routerLink="./GK" name="action">General Knowledge
    <i class="material-icons right">send</i>
  </button>
  <br>
  <hr>
  <button routerLink="./sm" class="btn waves-effect waves-light" type="submit" name="action">Science: Mathematics
    <i class="material-icons right">send</i>
  </button>
  <br>
  <hr>
  <button routerLink="./sports" class="btn waves-effect waves-light" type="submit" name="action">Sports
    <i class="material-icons right">send</i>
  </button>
  <br>
  <hr>
  <button routerLink="./sn" class="btn waves-effect waves-light" type="submit" name="action">Science & Nature
    <i class="material-icons right">send</i>
  </button>
  <br>
  <hr>
  <button routerLink="./Cell" class="btn waves-effect waves-light" type="submit" name="action">Celebrities
    <i class="material-icons right">send</i>
  </button>
<hr>
</div>



